/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./assets/fonts/RobotoCondensed.ttf') format(truetype);
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed';
  font-size: xx-large;
  font-display: swap;
  color: #fff1f2;
  background: #08090a;
}

.full-centered {
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}