<modal-section />
<main
  id="home-page"
  class="full-centered"
>
@if (!hasLoaded() && !error()) {
  <p>
    loading
  </p>
}
@if(hasLoaded() && !error()) {
    <upload-button />
    <section
      id="movie-detail"
    >
      <div
        class="title"
      >
        <h1>
          {{ currentMovie()?.title }}
        </h1>
        <play-button [videoId]='currentMovie()?.id??null'/>
      </div>
      <p>
        {{ currentMovie()?.description }}
      </p>
    </section>
    <details-button />
  }
  @if (error()) {
    <p>
      {{ error() }}
    </p>
  }
</main>
<movie-list-section 
  [videoId]='currentMovie()?.id??null' 
  [movieList]='movieList()' 
  (movieSelected)="updateCursor($event)"
/>